reddit_client_id=
reddit_client_secret=
reddit_username=
reddit_password=
reddit_user_agent=RiceFuteBot:v1.0 (by /u/RiceKirby)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=SomePasswordHere
POSTGRES_HOST=db
POSTGRES_DB=futebot

LANG=en_US.UTF-8
TZ=America/Sao_Paulo
PYTHONIOENCODING=UTF-8
